


#section01{
    background: #0d0d0d;
    height: 980px;
    /*width: 1920px;*/
}

#section01 .top{
    width: 1760px;
    height: 980px;
    padding-left: 160px;
    /*background-color: blue;*/
    padding-top: 93px;

}

#section01 .top_out_box{
    width: 1608px;
    height: 820px;
    /*background-color: dodgerblue;*/
    position: relative;
}

#section01 .white_top{
    display: flex;
    justify-content: right;
    align-content: flex-start;
}
#section01 .white_top >img{
    /*padding-top: 2px;*/
}

#section01 .gradation_big_circle{
    width: 761px;
    height: 497px;
    /*background-color: black;*/
    padding-right: 98px;
    padding-top: 82px;
    margin: 0 auto;
}
/*#section01 .gradation_big_circle >img{*/
/*    animation: circle 7s infinite linear;*/
/*}*/

#section01 .gradation_outbox{
    padding-top: 76px;
    width: 1609px;
    height: 668px;
    position: absolute;
    left: 0;
    top: 0;
    /*background-color: darkred;*/
}

.gradation_outbox .small_top{

}

.gradation_outbox .small_top .line_2{
    padding-top: 15px;
}

.gradation_outbox .big{
    padding-top: 75px;
}

.gradation_outbox .big .goals{
    display: flex;
    justify-content: left;
    align-content: flex-start;
}

.gradation_outbox .big .flexible{
    padding-top: 70px;
    display: flex;
    justify-content: right;
    align-content: flex-end;
}


.gradation_outbox .small_bottom{
    padding-top: 78px;
    display: flex;
    justify-content: right;
    align-content: flex-end;
}


.gradation_outbox .small_bottom .small_method{
    padding-left: 29px;
    /*padding-top: 23px;*/
    position: relative;
}

.gradation_outbox .small_bottom .small_circle{
    position: absolute;
    left: 10px;
    top: -23px;
}






#section01 .white_circle_outbox{
    padding-top: 86px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /*background-color: #121212;*/
}

#section01 .white_circle{
    width: 95px;
    height: 96px;
    position: relative;
    /*background-color: gray;*/

}

#section01 .white_circle > img{

    animation: circle 7s infinite linear;
}

@keyframes circle{
    to{
        transform: rotate(1turn);
    }
}

#section01 .white_circle .white_scroll_arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -17px;
    /*animation: compare 0.5s infinite alternate;*/
    opacity: 0.8;
}


.blinking{ -webkit-animation:blink 1.5s ease-in-out infinite alternate; -moz-animation:blink 1.5s ease-in-out infinite alternate; animation:blink 1.5s ease-in-out infinite alternate; }
@-webkit-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }
@-moz-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }
@keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }


#section01 .white_circle .blink{
    animation: blink-effect 0.5s linear infinite;
    animation-delay: 0s;

}

/*#section01 .white_circle blink{*/
/*    animation: blink-effect 2s step-end infinite;*/
/*    animation-delay: 1s;*/
/*    top: 54%;*/
/*}*/
/*#section01 .white_circle .blink{*/
/*    animation: blink-effect 3s step-end infinite;*/
/*    animation-delay: 2s;*/
/*    top: 58%*/
/*}*/


/*@-webkit-keyframes compare {*/
/*    from {*/
/*        top: 42%;*/
/*    }*/
/*    to {*/
/*        top: 54%;*/
/*    }*/
/*}*/

#section01 .white_circle .white_scroll_arrow{

}

/*@-webkit-keyframes iteration-count{*/
/*    from{*/
/*        transform:translateY(-5%);*/
/*    }*/
/*    to{*/
/*        transform:translateY(5%);*/
/*    }*/
/*}*/







#section02{
    background: #0d0d0d;
    height: 787px;

}

#section02 .about_outbox{
    width: 1600px;
    height: 666px;
    /*background-color: darkred;*/
    margin: 0 auto;
    padding-top: 121px;
}

#section02 .about_outbox .about_title{
    padding-right: 75px;
    display: flex;
    justify-content: right;
    align-content: start;
}

#section02 .about_outbox .about_introduce{
    padding-top: 78px;
    /*background-color: rebeccapurple;*/
    display: flex;
    justify-content: space-between;
    align-content: start;
}


.about_introduce .left{
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.about_introduce .left .color_title{
    padding-top: 61px;
}

.about_introduce .left .desc{
    padding-top: 36px;
}

.about_introduce .right{
    padding-right: 75px;
}


.about_introduce .right .background{
    position: relative;
    padding-top: 97px;
}

.about_introduce .right .pic{
    position: absolute;
    left: 30px;
    top: -97px;
    padding-top: 97px;
}



#section03{
    background: #0d0d0d;
    padding-top: 230px;
    height: 1513px;
}

#section03 .rolling_font_1{
    height: 277px;
    /*background-color: lightpink;*/
    display: flex;
    animation: txt_move_01 13s infinite linear;
}


@keyframes txt_move_01{
    to{
        transform: translateX(-3836px);
    }
}


#section03 .works_outbox{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
}

#section03 .works_title{
    width: 317px;
    height: 12px;
    margin: 0 auto;
    padding-top: 181px;
}

.swiper-container{
    width: 1920px;
    height: 780px;
    margin: 0 auto;
    padding-top: 87px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container .swiper-pagination{
    /*margin: 0 auto;*/
    font-size: 32px;
    color: white;
    opacity: 0.8;

}

.swiper-pagination-fraction{
    position: absolute;
    left: 50%;
    top: 90px;
    bottom: initial;
    width: initial;
    margin-left: -40px;
}
.swiper-container .swiper-pagination .swiper-pagination-current{
    font-size: 32px;
    color: white;
    padding-right: 10px;
    padding-top: 4px;
    /*opacity: 0.8;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}
.swiper-container .swiper-pagination .swiper-pagination-total{
    font-size: 32px;
    color: white;
    padding-left: 10px;
    padding-top: 4px;
    /*opacity: 0.8;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}


#section03 .swiper-wrapper{
    width: 1920px;
    height: 686px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-content: flex-end;*/
    padding-top: 155px;
}

#section03 .swiper-slide{
    /*width: 640px;*/
    /*height: 549px;*/
    width: 800px;
    height: 686px;
    transform: scale(0.8);
    /*background-color: darkred;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.2;
    transition: 1s;
    margin: 0 auto;
    filter: grayscale(1);
}


#section03 .swiper-slide.swiper-slide-active{
    /*width: 800px;*/
    /*height: 686px;*/
    transform: scale(1) translateY(-58px);
    opacity: 1;
    z-index: 3;
    transition: 1s;
    filter: grayscale(0);
}

#section03 .swiper-slide .work_thumbnail{
    width: 800px;
    height: 500px;
    transform: scale(0.8) translateY(0px);
    transition: 1s;
    /*background-color: red;*/
    overflow: hidden;
}

#section03 .swiper-slide.swiper-slide-active .work_thumbnail{
    transform: scale(1);


}

#section03 .swiper-slide .work_thumbnail >img{
    /*width: 100%;*/
    /*height: 100%;*/
}


#section03 .swiper-slide .work_name{
    padding-top: 80px;
    height: 95px;
    transform: scale(0.8);
    transition: 1s;
}

#section03 .swiper-slide.swiper-slide-active .work_name{
    transform: scale(1);
    transition: 1s;
}

#section03 .swiper-slide.swiper-slide-active .div > img{
    height: 100%;
}

#section03 .swiper-slide .work_desc{
    padding-top: 20px;
    height: 49px;
    transform: scale(0.8);
    transition: 1s;
}


#section03 .swiper-slide.swiper-slide-active .work_desc{
    transform: scale(1);
    transition: 1s;
}




#section04{
    background: #0d0d0d;
    height: 1100px;
}

#section04 .rolling_font_2{
    height: 277px;
    display: flex;
    justify-content: right;
    align-content: center;
    animation: txt_move_02 13s infinite linear;
}


@keyframes txt_move_02{
    to{
        transform: translateX(3836px);
    }
}

#section04 .closing{
    width: 1920px;
    padding-top: 122px;
}

#section04 .closing > div{
    /*width: 1600px;*/
    height: 365px;
}

#section04 .closing > div .hopeyou{
    padding-left: 454px;
}

#section04 .closing > div .enjoyed{
    padding-left: 333px;
    padding-top: 52px;
}

/*#section05{*/
/*    background: aqua;*/
/*}*/










